body {
    margin: 0px;
}
.header {
    display: flex;
    justify-content: space-between;
    position:fixed;
    top: 0;
    width: 1920px;
    height: 100px;
    background-color: #221a399e;
    z-index: 2
}
.container {
    display: flex;
    margin-left: 98px;
    margin-top: 32px;
    width: 284px;
    height: 59.5px;
   
    justify-content: space-between;
}


.logo_svg {
    width:  37px;
    height: 37px;
    display: inline;
    position: absolute;
    left: 105px;
    top: 40px;
}
.cont-text {
    align-self: flex-start;
    margin-top: 12px;
    font-size: 20px;
    font-family: Righteous;
    color: #FF8E8E;
    text-shadow: 0px 4px 4px 
        rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/*навигация*/
.navigator {
    width: 483px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    margin-top: 41px;
    margin-right: 200px;
    position: relative;
}
.link {
    font-family: 'Coda Caption', sans-serif;
    font-size: 20px;
}
.link_text {
    text-decoration: none;
    color: #93C5DA;
}
.link_text:hover {
    color: #ccc
}
.border {
    position: absolute;
    width: 483px;
    height: 0px;
    top: 41px;
    border: 1px solid #24284B;
    transform: rotate(0.12deg);
}
/*контент первой страницы*/
.main_photo {
    
    z-index: 1

}
.main {
    
}
.nav_button {
    display: block;
    position: relative;
    left: 160px;
    top: -500px;
    
    text-decoration: none;
    color: #ffffff;
    
}
.text_button {
    width: 370px;
    border-radius: 25%;
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    padding: 30px;
    top: -100px;
    text-align: center;
    background-color: #0411a7;
    box-shadow: 0px 4px #0b1374;
    transition: all 1s ease 0s;
}
.text_button:hover {
    transition: all 1s ease 0s;
    top: 10px;
    box-shadow: 0px 2px #0b1374;
    background-color: #1040bf;
}














